@keyframes relleno {
    0%   {fill:rgb(0, 255, 51); left:0px; top:0px;}
  25%  {fill:rgb(222, 56, 120); left:50px; top:-50px;}
  50%  {fill:rgb(255, 230, 0); left:100px; top:0px;}
  75%  {fill:rgb(128, 0, 0); left:150px; top:-50px;}
  100% {fill:rgb(50, 238, 255); left:200px; top:0px;}
  }
  
  @keyframes rotacion{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @keyframes SIZE{
    from{width: 30px;}
    to{width: 300px;}
  }

body{
    text-align: center;
    margin-top: 0px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TRASH{
    width: 150px;
    fill: #44ffab;
    stroke-width: 5px;
    animation-name: relleno;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}




#WAYFAY{
    stroke: rgb(30, 186, 33);
    stroke-width: 1px;
    width: 200px;
    animation: rotacion 4s linear .7s infinite forwards;
}

#RUPEEE{
    fill: rgb(71, 42, 165);
    stroke: rgb(61, 61, 61);
    stroke-width: 1px;
    animation: SIZE 6s linear .8s infinite forwards;
}
